#body {
  max-width: 1350px;
  margin: 0 auto;
  flex: 1;
}

#infoContainer {
  padding: 0 22px 0 22px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
}

.imageContainer:nth-child(3n) {
  position: relative;
}

.imageContainer:hover {
  cursor: pointer;
}

.hiddenImageVisible {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  max-height: 600px;
}

.hiddenImage {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  max-height: 600px;
}

.image {
  max-height: 600px;
}

.imageHidden {
  visibility: hidden;
  max-height: 600px;
}

.imageRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0 22px 44px 22px;
}

.spacer {
  width: 36px;
  flex-shrink: 0;
}

@media only screen and (max-width: 767px) {
  .imageRow {
    flex-direction: column;
    align-items: center;
  }
  .spacer {
    width: 0px;
    height: 24px;
  }
  .imageRow {
    padding-bottom: 24px;
  }
}