#body {
  max-width: 1350px;
  margin: 0 auto;
}

.image {
  max-height: 600px;
}

.imageRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 0 22px 44px 22px;
}

/*.spacer {
  width: 36px;
  flex-shrink: 0;
}*/

/*@media only screen and (max-width: 767px) {
  .imageRow {
    flex-direction: column;
    align-items: center;
  }
  .spacer {
    width: 0px;
    height: 24px;
  }
  .imageRow {
    padding-bottom: 24px;
  }
}*/