#body {
  max-width: 1350px;
  margin: 0 auto;
  flex: 1;
}

.selectionText::selection {
  color: #292929;
  background:#fdfdfd;
}

#aboutContainer {
  display: flex;
  flex-direction: row;
  margin: 24px 22px;
  background-color: #292929;
  padding: 48px 48px;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.12);
}

#aboutContainer::selection {
  color: #292929;
  background:#fdfdfd;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  max-width: 290px;
  border-radius: 100%;
  align-self: flex-start;
  justify-self: center;
}

/*this is just trash when it wraps */
#aboutTextContainer {
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  flex: 1;
  max-width: 690px;
}

#aboutHeader {
  font-family: 'Markazi Text', serif;
  font-weight: 700;
  font-size: 3em;
  line-height: 1;
}

#skillsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ededed; /*6c6c6c*/
  color: #6c6c6c; /*#ffffff*/
  margin: 0 22px 24px 22px;
  box-shadow: 0 3px 6px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.12);
}

#skillsHeaderContainer {
  display: flex;
  justify-content: center;
  background-color: #d3d3d3; /*3f3f3f*/
  width: 100%;
  padding: 24px 0;

}

#skillsHeader {
  font-size: 2.5em;
  font-weight: 900;
  padding: 0 24px;
}

#skillsColumnContainer {
  display: flex;
  flex-flow: column;
  padding: 24px;
}

.skillsItem {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
}

/*somehow make this work??????? idfk */
.skillsItem:after {
  content: "";
  display: block;
  background-color: white;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
}

.skillsListRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  width: 14px;
  margin-right: 6px;
}

.logo {
  width: 100%;
  height: auto;
}

.skillsSubheaderText {
  font-size: 1.1em;
  font-weight: 900;
  text-align: center;
  padding-top: 16px;
}

#experienceHeaderContainer {
  display: flex;
  justify-content: center;
  background-color: #ededed;
  width: 100%;
  padding: 24px 0;
}

#experienceHeader {
  font-size: 2.5em;
  font-weight: 900;
  padding: 0 24px;
}

#experienceContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #6c6c6c;
  margin: 0 22px 24px 22px;
  box-shadow: 0 3px 6px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.12);
}

#experienceContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  padding: 24px;
}

.linkContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 22px 24px 22px;
  box-shadow: 0 3px 6px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.12);
  color: inherit;
  text-decoration: none;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 5px;
  padding: 0 11px;
}

.linkContainerContent { 
  font-size: 2.5em;
  font-weight: 900;
  padding: 22px;
  text-align: center;
}

.experienceItemContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 24px 0;
  box-sizing: border-box;
}

.experienceItemContainer:nth-child(2n+1) {
  background-color:#ededed;
}

.experienceItemTitleContainer {
  flex: 1;
  margin-left: 24px;
}

.experienceItemInfoContainer {
  flex: 1;
  margin-right: 24px;
  padding-left: 24px;
}

.experienceListItem {
  border-bottom: 1px rgba(0,0,0,.1) solid;
  padding-bottom: 12px;
  padding-top: 12px;
}

.experienceListItem:nth-child(1) {
  padding-top: 0px;
}

.experienceListItem:nth-last-child(1) {
  border-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .experienceItemContainer {
    flex-direction: column;
  }
  .experienceItemTitleContainer {
    border-bottom: 1px rgba(0,0,0,.1) solid;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-right: 24px;
  }
  .experienceListItem:nth-child(1) {
    padding-top: 12px;
  }
}

@media only screen and (max-width: 920px) {
  #aboutContainer {
    flex-direction: column;
  }
  #aboutTextContainer {
    margin-left: 0px;
  }
  #img {
    align-self: center;
  }
  .imageContainer {
    padding-bottom: 24px;
  }
}

/*
@media only screen and (max-width: 845px) {
  #ruby {
    display: none;
  }
}

@media only screen and (max-width: 758px) {
  #ruby {
    display: block;
  }
  #r {
    display: none;
    margin-left: -27px;
  }
}

@media only screen and (max-width: 700px) {
  #r {
    visibility: visible;
  }
  #python { 
    visibility: hidden;
  }
}

@media only screen and (max-width: 600px) {
  #python { 
    visibility: visible;
  }
  #javascript {
    visibility: hidden;
  }
}

@media only screen and (max-width: 482px) {
  #javascript {
    visibility: visible;
  }
  #java {
    visibility: hidden;
  }
  #ruby {
    visibility: hidden;
  }
}
*/