#body {
  max-width: 1350px;
  margin: 0 auto;
  flex: 1;
}

#aboutContainer {
  display: flex;
  flex-direction: row;
  margin: 24px 22px;
  background-color: #292929;
  padding: 24px 22px;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.12);
}

.selectionText {

}

.selectionText::selection {
  color: #292929;
  background:#fdfdfd;
}

#aboutContainer::selection {
  color: #292929;
  background:#fdfdfd;
}

#img {
  width: 100%;
  max-width: 390px;
  border-radius: 100%;
  align-self: flex-start;
}

/*this is just trash when it wraps */
#aboutTextContainer {
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  flex: 1;
}

#aboutHeader {
  font-family: 'Markazi Text', serif;
  font-size: 5em;
}

#skillsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #6c6c6c;
  color: #ffffff;
  margin: 0 22px 24px 22px;
  box-shadow: 0 3px 6px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.12);
}

#skillsHeader {
  display: flex;
  justify-content: center;
  font-size: 4em;
  font-weight: 900;
  background-color: #3f3f3f;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

#skillsColumnContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 60%;
  padding: 24px;
}

.skillsItem {
  display: flex;
  flex-direction: row;
}

.logoContainer {
  width: 14px;
  margin-right: 6px;
}

.logo {
  width: 100%;
  height: auto;
}

.skillsSubheaderText {
  font-size: 1em;
  font-weight: 900;
}

#experienceHeader {
  display: flex;
  justify-content: center;
  font-size: 4em;
  font-weight: 900;
  background-color: #ededed;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

#experienceContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #6c6c6c;
  margin: 0 22px 24px 22px;
  box-shadow: 0 3px 6px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.12);
}

#experienceContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  padding: 24px;
}

.experienceItemContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 24px 0;
  box-sizing: border-box;
}

.experienceItemContainer:nth-child(2n+1) {
  background-color:#ededed;
}

.experienceItemTitleContainer {
  flex: 1;
  margin-left: 24px;
}

.experienceItemInfoContainer {
  flex: 1;
  margin-right: 24px;
  padding-left: 24px;
}

.experienceListItem {
  border-bottom: 1px rgba(0,0,0,.1) solid;
  padding-bottom: 12px;
  padding-top: 12px;
}

.experienceListItem:nth-child(1) {
  padding-top: 0px;
}

.experienceListItem:nth-last-child(1) {
  border-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .experienceItemContainer {
    flex-direction: column;
  }
  .experienceItemTitleContainer {
    border-bottom: 1px #fff solid;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-right: 24px;
  }
  .experienceListItem:nth-child(1) {
    padding-top: 12px;
  }
}

@media only screen and (max-width: 920px) {
  #aboutContainer {
    flex-direction: column;
  }
  #aboutTextContainer {
    margin-left: 0px;
  }
  #img {
    align-self: center;
  }
}