#headerContainer {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
}

#header {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 22px 22px 22px 22px;
  max-width: 1350px;
}

#title {
  display: flex;
  align-items: center;
  padding-right: 22px;

}

#titleText {
  font-size: 1em;
  font-weight: 800;
}

#nav {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#navList {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.navItem {
  position: relative;
  padding: 6px 0;
  margin-right: 44px;
}

.navItem:nth-last-child(1) {
  margin-right: 0px;
}

#burger {
  font-size: 21px;
  padding: 6px 0;
}

#burger:hover {
  cursor: pointer;
}

.navText:hover {
  cursor: pointer;
}

.navText:after {
  content: "";
  position: absolute;
  left:0;
  top: 100%;
  width: 0;
  height: 3px;
  background-color: #F3C13A;
  transition: width .2s ease-in-out;
}

.navText:hover:after {
  width: 100%;
}

#mobileNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(41,41,41);
  z-index: 1000;
  height: 100vh;
}

.mobileNavItem {
  padding-bottom: 12px;
}

.mobileNavText {
  font-size: 2em;
  font-weight: 700;
}

.mobileNavText:hover {
  color: #F3C13A !important;
}