#container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#projectInfoContainer {
  padding: 0 22px 88px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectHeader {
  font-weight: 900;
  font-size: 4em;
  text-align: center;
  margin-top: 48px;
}

.projectSubheader {
  font-size: 1.2em;
  max-width: 600px;
  text-align: center;
  margin-bottom: 22px;
  font-weight: 600;
}

.projectInfo {
  font-size: 1em;
  color: gray;
  max-width: 600px;
  text-align: center;
  margin-top: 22px;
}

.projectDesign {
  font-size: 2em;
  font-weight: 900;
  color: gray;
  padding: 24px 24px;
}

.projectImageRowContainer {
  display: flex;
  flex-direction: column;
  padding: 0 22px;
}

.projectSourceButton {
  padding: 4px 12px;
  border-radius: 4em;
  color: #fff;
  text-decoration: inherit;
  display: 'flex';
  flex-shrink: 0;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  max-width: 600px;
  align-items: center;
}