@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  outline: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  color: #fdfdfd;
  background: #292929;
}

/* The emerging W3C standard that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #292929 #000;
}

/* Works on Chrome/Edge/Safari */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #292929;
  border: 1px solid #000;
}