.Card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 664px;
  margin-bottom: 144px;
  box-shadow: 0px 0px 40px -10px #d6d6d6;
}

.top-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 40px;
}

.top-card img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .top-card {
    height: 300px;
  }
  .Card {
    width: 100%;
  }
}
