.Card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 664px;
  margin-bottom: 144px;
  box-shadow: 0px 0px 40px -10px #d6d6d6;
}

.top-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 40px;
}

.top-card img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-text-bottom {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

#project-title {
  margin: 25px 25px 12.5px 25px;
  font-size: 1.6em;
  font-weight: 600;
}

#description {
  margin-bottom: 25px;
}

.tags, .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.tag, #source-link {
  border-style: solid;
  border-width: 2px;
  padding: 6px 18px 6px 18px;
  border-radius: 4px;
  margin-right: 12.5px;
  font-size: .8em;
  font-weight: 300;
  border-width: 1px;
}

.tag {
  border-color: #2BBFBD;
  margin-bottom: 12.5px;
}

#source-link {
  border-color: #2BBFBD;
  background: #2BBFBD;
  margin-top: 12.5px;
  transition: all .15s ease;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

#source-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#source-link i {
  padding: 0 8px 0 0;
}

#source-link:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  opacity: .8;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .top-card {
    height: 300px;
  }
  .Card {
    width: 100%;
  }
}
